torch~=1.10.0
torchvision~=0.11.0
numpy~=1.21.6
Pillow~=8.3.2
gym~=0.20.0
habitat~=0.2.1
detectron2~=0.6+cu101
opencv-python~=4.6.0.66
imageio~=2.22.0
scipy~=1.7.3
joblib~=1.1.0
attrs~=22.1.0
magnum~=0.0.0
matplotlib~=3.3.2
scikit-image~=0.19.2
scikit-learn~=1.0.2
tqdm~=4.64.1